# Data

## dirtree

-----------------------------

.. autofunction:: ANEMO::Data.dirtree
  :noindex:

<br><br>

**exemple of code:**

In [1]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
return_ = False # If False prints the path tree in the console,
                # if True does not print the dirpath tree but returns a
                # variable containing it

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------
ANEMO.Data.dirtree(dirpath, return_)

dataANEMO/
    sub-002/
        ses-001/
            sub-002_ses-001_events.pkl.gz
            sub-002_ses-001_data.pkl.gz
            sub-002_ses-001_events.json
            sub-002_ses-001_data.json
            sub-002_ses-001_results.pkl.gz
            sub-002_ses-001_settings.json
            sub-002_ses-001_results.json
        ses-002/
            sub-002_ses-002_events.json
            sub-002_ses-002_data.json
            sub-002_ses-002_results.json
            sub-002_ses-002_results.pkl.gz
            sub-002_ses-002_settings.json
            sub-002_ses-002_data.pkl.gz
            sub-002_ses-002_events.pkl.gz
    sub-001/
        sub-001_results.json
        sub-001_events.pkl.gz
        sub-001_data.json
        sub-001_settings.json
        sub-001_events.json
        sub-001_results.pkl.gz
        sub-001_data.pkl.gz

## open

-----------------------------

.. autofunction:: ANEMO::Data.open
  :noindex:

<br><br>

**exemple of code:** to access all the data in the file

In [2]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
sub ='001' # Participant identifier
ses = None # Name of the Session
task = None # Name of the Task
acq = None # Name of the Aquisition
run = None # IndexRun
RawData = False # If True open RawData, if False open DataAnemo

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------

# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath, sub, task, ses, acq, run) 
print(full_data.keys()) 

# Dictionary correspond to particular experiment
#------------------------------------------------------------------------------
data_exp = full_data['sub-001'] 
print(data_exp.keys())

# Access to Data
#------------------------------------------------------------------------------
Data = data_exp['Data']

# Access to Results
#------------------------------------------------------------------------------
Results = data_exp['Results']

# Access to Events
#------------------------------------------------------------------------------
Events = data_exp['Events']

# Access to Settings
#------------------------------------------------------------------------------
Settings = data_exp['Settings']

dict_keys(['sub-001'])
dict_keys(['Settings', 'Events', 'Results', 'Data'])

In [3]:
Data

,trial,time,eye1_x_coordinate,eye1_y_coordinate,eye1_pupil_size
0,1,9053021.0,650.8,528.6,1853.0
1,1,9053022.0,650.0,528.8,1852.0
2,1,9053023.0,649.3,528.8,1850.0
3,1,9053024.0,647.6,528.8,1849.0
4,1,9053025.0,646.0,528.6,1848.0
...,...,...,...,...,...
1214010,600,11405660.0,198.4,551.9,838.0
1214011,600,11405661.0,198.6,552.0,839.0
1214012,600,11405662.0,198.7,552.1,839.0
1214013,600,11405663.0,198.7,551.8,838.0
1214014,600,11405664.0,198.6,551.4,838.0

In [4]:
Results

     trial
0        1
1        2
2        3
3        4
4        5
..     ...
595    596
596    597
597    598
598    599
599    600

[600 rows x 1 columns]

In [5]:
Events

,onset,duration,sample,trial,eventIdentifier,StimulusOn,StimulusOff,TargetOn,TargetOff,SFIX,EFIX,SSACC,ESACC,SBLINK,EBLINK,num_trial,num_block,dir_target,proba,switch
0,0.000,2.418,9052467.0,1,TRIALID 0,9053125,9053688,9053988,9054758,"[9053030, 9054360, 9054535, 9054755]","[9054334.0, 9054519.0, 9054736.0, 9054866.0]","[9054335, 9054520, 9054737]","[9054359.0, 9054534.0, 9054754.0]",NaN,NaN,1,1,0.0,0.647524,0.0
1,3.518,2.420,9055985.0,2,TRIALID 1,9056588,9057191,9057491,9058273,"[9056546, 9056780, 9057857, 9058325]","[9056763.0, 9057821.0, 9058298.0, 9058372.0]","[9056764, 9057822, 9058299]","[9056779.0, 9057856.0, 9058324.0]",NaN,NaN,2,1,1.0,0.647524,0.0
2,7.038,2.447,9059505.0,3,TRIALID 2,9060106,9060739,9061040,9061821,"[9060066, 9060181, 9060314, 9061025, 9061353, ...","[9060173.0, 9060302.0, 9061008.0, 9061319.0, 9...","[9060174, 9060303, 9061009, 9061320, 9061477]","[9060180.0, 9060313.0, 9061024.0, 9061352.0, 9...",NaN,NaN,3,1,1.0,0.647524,0.0
3,10.585,2.557,9063052.0,4,TRIALID 3,9063668,9064391,9064691,9065471,"[9063612, 9063766, 9063909, 9064088, 9064976, ...","[9063747.0, 9063885.0, 9064081.0, 9064950.0, 9...","[9063748, 9063886, 9064082, 9064951, 9065133, ...","[9063765.0, 9063908.0, 9064087.0, 9064975.0, 9...",NaN,NaN,4,1,0.0,0.647524,0.0
4,14.242,2.640,9066709.0,5,TRIALID 4,9067309,9068138,9068438,9069219,"[9067270, 9067495, 9068705, 9068861]","[9067477.0, 9068679.0, 9068838.0, 9069283.0]","[9067478, 9068680, 9068839, 9069284]","[9067494.0, 9068704.0, 9068860.0, 9069318.0]",NaN,NaN,5,1,1.0,0.647524,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2336.411,2.529,11388878.0,596,TRIALID 195,11389485,11390207,11390508,11391284,"[11389443, 11389687, 11390085, 11390259, 11390...","[11389661.0, 11390067.0, 11390241.0, 11390708....","[11389662, 11390068, 11390242, 11390709, 11391...","[11389686.0, 11390084.0, 11390258.0, 11390734....",NaN,NaN,196,3,0.0,0.035278,0.0
596,2340.040,2.338,11392507.0,597,TRIALID 196,11393112,11393633,11393934,11394716,"[11393075, 11393359, 11393951, 11394159, 11394...","[11393350.0, 11393939.0, 11394142.0, 11394228....","[11393351, 11393940, 11394143, 11394229, 11394...","[11393358.0, 11393950.0, 11394158.0, 11394243....",NaN,NaN,197,3,0.0,0.035278,0.0
597,2343.478,2.330,11395945.0,598,TRIALID 197,11396549,11397056,11397356,11398131,"[11396515, 11396747, 11397045, 11397591, 11397...","[11396725.0, 11397022.0, 11397565.0, 11397720....","[11396726, 11397023, 11397566, 11397721, 11398...","[11396746.0, 11397044.0, 11397590.0, 11397741....",NaN,NaN,198,3,0.0,0.035278,0.0
598,2346.908,2.612,11399375.0,599,TRIALID 198,11399976,11400767,11401068,11401847,"[11399941, 11400287, 11400426, 11400602, 11400...","[11400273.0, 11400418.0, 11400591.0, 11400744....","[11400274, 11400419, 11400592, 11400745, 11400...","[11400286.0, 11400425.0, 11400601.0, 11400751....",NaN,NaN,199,3,0.0,0.035278,0.0
599,2350.621,2.605,11403088.0,600,TRIALID 199,11403696,11404481,11404781,11405563,"[11403649, 11403900, 11404326, 11404503, 11404...","[11403880.0, 11404314.0, 11404489.0, 11404706....","[11403881, 11404315, 11404490, 11404707, 11404...","[11403899.0, 11404325.0, 11404502.0, 11404727....",NaN,NaN,200,3,0.0,0.035278,0.0

In [6]:
Settings

,Data,Results,Events,TaskName,Manufacturer,ManufacturersModelName,SoftwareVersion,DeviceSerialNumber,SamplingFrequency,SampleCoordinateUnit,...,PupilFitMethod,StartTime,StopTime,add_new_key,velocity_target,color_target,time,participant_id,GUID,px_per_deg
0,Empty DataFrame Columns: [] Index: [],Empty DataFrame Columns: [] Index: [],EBLINK EFIX ...,SuperTache,SR-Research,EYELINK II CL v5.01 Jan 16 2014,EYELINK II 1,CLG-BAF38,1000.0,pixels,...,ELLIPSE (5),None,None,new key added that is specific to the task,10,black,2017-10-26_121823,001,3aabe8bb-b5dd-4934-aeaa-cda1e0026609,35.592276

## save

-----------------------------

.. autofunction:: ANEMO::Data.save
  :noindex:

<br><br>

**exemple of code:**

In [7]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
data = full_data # Dictionary containing for experiment file the Data,
                 # the Results, the Events, and the Settings

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath, data)

## example of code

-----------------------------

| Once your data is open you can modify it.
| You will find here two code examples showing you how to do it:

<br>

### add new data to the Data

Here, we want to add a new data in the data that we will call `new_data`. It corresponds to `xpr` multiplied by 2, but we want to calculate this new data only for some trials of an experiment

In [8]:
import ANEMO

#------------------------------------------------------------------------------
# open Data
#------------------------------------------------------------------------------
# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath='dataANEMO', sub='001') 

expnames = ['sub-001'] # list of names of the particular experience
trials = [1,100,110] # list of trials

#------------------------------------------------------------------------------
# add new data
#------------------------------------------------------------------------------
for expname in expnames:
    
    # Dictionary correspond to particular experiment
    data_exp = full_data[expname] 
    
    # Data to particular experiment
    Data = data_exp['Data'] # or data_exp.Data
    
    # add new empty data
    Data['new_data'] = [None]*len(Data)
    
    for t in trials:
        trial_data = Data[Data.trial==t] # trial Data
        Data.loc[(Data.trial==t), 'new_data'] = trial_data['eye1_x_coordinate']*2
    
#------------------------------------------------------------------------------
# save Data
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath='dataANEMO', data=full_data)

<br><br>

### add new events to the Events

Here, we want to add a new event in the data that we will call `Stop_search_MiSacc`. This one corresponds to the event `TargetOn` + 100ms

In [9]:
import ANEMO

#------------------------------------------------------------------------------
# open Data
#------------------------------------------------------------------------------
# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath='dataANEMO', sub='001') 

#------------------------------------------------------------------------------
# add new events
#------------------------------------------------------------------------------
for expname in full_data.keys():
    
    # Dictionary correspond to particular experiment
    data_exp = full_data[expname] 
    
    # Events to particular experiment
    events = data_exp['Events'] # or data_exp.Events
    
    # add new events
    events['Stop_recherche_MiSacc'] = events['TargetOn']+100

#------------------------------------------------------------------------------
# save Data
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath='dataANEMO', data=full_data)